html,body{
    margin: 0;
    padding: 0;
}

body{
    color:#333;
    background: #fffcf5;
}

h2{
    text-align: center;
}

.des{
    text-indent: 2em;
    padding: 10px 15px;
    margin: 30px;
    border: 1px dashed #967732;
    background: #fff5eb;
    line-height: 28px;
    color: #666;
}

#paper{
    padding: 25px 25px;
    margin: 30px 150px;
    border: 1px dotted #967732;
}

#paper .m_a{
    padding:5px 15px;
    background: #fdefe0;
}

#paper .m_a:nth-child(2n){
    background: #fff5eb;
}
